
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100..900&family=Playfair+Display:wght@400..900&display=swap');
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
}

:root {
  font-family: "Playfair Display", serif;
  background-color: #F7F5E5;
  color: #1f1a16;
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0 auto;
  /* display: flex; */
  min-width: 375px;
  max-width: 1920px;
  min-height: 100vh;
}
